
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# First-screen-404
# Common
--------------------------------------------------------------*/

@import "vars";

/*--------------------------------------------------------------
  Start common styles for 404 page
--------------------------------------------------------------*/

.error404 {
  .bg-fixed {
    .filter {
      background-color: rgba(4, 4, 29, 0.75);
    }
  }
}

/*--------------------------------------------------------------
  End common styles for 404 page
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  Start section first-screen-404 styles
--------------------------------------------------------------*/

#first-screen-404 {
  .title-error {
    text-align: center;
    padding-top: 150px;
    font-size: 150px;
  }
  .sub-title-error {
    text-align: center;
    font-size: 42px;
    padding-bottom: 200px;
    color: rgba($color: #fff, $alpha: 0.5);
  }
}

/*--------------------------------------------------------------
  End section first-screen-404 styles
--------------------------------------------------------------*/