/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Posts
--------------------------------------------------------------*/

@import 'vars';

// ≥992px
@include media-breakpoint-down(md) {

  /*--------------------------------------------------------------
    Start section posts styles ≥992px
  --------------------------------------------------------------*/

  #posts .post .content-block p::before {
    display: none;
  }

  #posts .post .content-block {
    padding: 50px 0 0 0;
  }

  /*--------------------------------------------------------------
    End section posts styles ≥992px
  --------------------------------------------------------------*/
}

// ≥576px
@include media-breakpoint-down(xs) {

  /*--------------------------------------------------------------
    Start section posts styles 576px
  --------------------------------------------------------------*/

  #posts .post .content-block {
    padding: 50px 15px 0 15px;
  }

  /*--------------------------------------------------------------
    End section posts styles 576px
  --------------------------------------------------------------*/
}